{% extends "explorer/layout.html" %}

{% load static %}

{% block title %}Rankings{% endblock %}

{% block body %}

<h1 class="title">Rankings</h1>

<div class="ranking-grid">

  <!-- Collatz steps -->
  <div class="ranking-block">
    <h2>Most steps (Collatz)</h2>
    <ol>
      {% for user in top_steps %}
        <li>
          {{ user.username }} - {{ user.best_steps|floatformat:0 }}
        </li>
          {% empty %}
            <li>No scores.</li>
          {% endfor %}
    </ol>
  </div>

  <!-- Collatz Max Value -->
  <div class="ranking-block">
    <h2>Highest Max Value (Collatz)</h2>
    <ol>
      {% for user in top_max_value %}
        <li>
          {{ user.username }} - {{ user.best_max|floatformat:0 }}
        </li>
          {% empty %}
            <li>No scores.</li>
          {% endfor %}
    </ol>
  </div>

  <!-- Goldbach time -->
  <div class="ranking-block">
    <h2>Best time (Goldbach)</h2>
    <ol>
      {% for user in top_goldbach %}
        <li>
          {{ user.username }} — {{ user.best_time }}s
        </li>
          {% empty %}
            <li>No scores.</li>
          {% endfor %}
    </ol>
  </div>
</div>

{% endblock %}
